@model VendaModel
@{
    ViewBag.Subtitulo = $"Exclusão da Venda <b>{Model.IdVenda:D4}</b>";
}

<h1 class="text-primary">@Html.Raw(ViewBag.Subtitulo)</h1>
<hr>
<h6>Cliente: <b class="text-dark">@Model.Cliente.Nome</b></h6>
<hr>
@if (Model.ItensVenda.Count > 0)
{
    <h6><b>Itens da Venda:</b></h6>
    <hr>
    @foreach (var item in Model.ItensVenda)
    {   
        <h6>@item.Cerveja.Nome (@item.Quantidade x @item.ValorUnitario.ToString("C") = @item.ValorItem.ToString("C"))</h6>
    }
    <hr>
    <h6><b>Valor Total da Venda: @Model.ValorTotal.Value.ToString("C")</b></h6>    
}
else
{
    <h6><b>Não há itens nessa venda.</b></h6>
}

<h4>Deseja realmente excluir esse pedido?</h4>

<form asp-action="Excluir" class="w-25">
    <input type="hidden" asp-for="@Model.IdVenda">
    <div class="mt-3">
        <a asp-action="Index" asp-route-cid="@Model.IdCliente" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>